<!-- Openlayers -->
<!-- INCLUDECSS assets/MyOl/ol/ol.css -->
<!-- INCLUDEJS assets/MyOl/ol/ol.js -->

<!-- Recherche par nom -->
<!-- INCLUDECSS assets/MyOl/geocoder/ol-geocoder.min.css -->
<!-- INCLUDEJS assets/MyOl/geocoder/ol-geocoder.js -->

<!-- IF EPSG21781 -->
<!-- Proj4 projections Swiss & UK -->
<!-- INCLUDEJS assets/MyOl/proj4/proj4.js -->
<!-- ENDIF -->

<!-- jquery-ui -->
<!-- INCLUDECSS assets/jquery-ui/jquery-ui.min.css -->
<!-- INCLUDEJS assets/jquery-ui/jquery-ui.min.js -->

<!-- My Openlayers -->
<!-- INCLUDECSS assets/MyOl/myol.css -->
<!-- INCLUDEJS assets/MyOl/myol.js -->

<!-- GeoBB -->
<!-- INCLUDECSS map.css -->
<!-- INCLUDEJS map.js -->
