<div id="map-selector">
	<ul>
		<p>Chemineur</p>
		<!-- BEGIN chemcat -->
			<li><input type="checkbox" name="chem-cat" value="{chemcat.ARGS}" checked="checked" /> {chemcat.CAT}</li>
		<!-- END chemcat -->
	</ul>
	<ul>
		<p>Sites externes</p>
		<li><input type="checkbox" name="wri-poi" /> refuges.info</li>
		<li><input type="checkbox" name="prc-poi" /> pyrenees-refuges.com</li>
		<li><input type="checkbox" name="c2c-poi" /> camptocamp.org</li>
		<li><input type="checkbox" name="alpi" /> alpages.info</li>
	</ul>
</div>
<br clear="both"/>
